body {
  background-color: #B7E1E4;
  min-height: 100vh;
  min-width:100%;
  margin:0 0;
}

header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  justify-content: flex-end; /* ⭐ 오른쪽으로 */
  align-items: center;

  border-bottom: 1px solid #000;
}

header .right-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .right-bar img {
  width:20px;
}